body {
  background-color: green;
}

.card {
  background-color: white;
  width: 30rem;
  height: 40rem;
  margin: auto;
  border-radius: 7%;
  line-height: 40rem;
  text-align: center;
  position: relative;
  border: 1px solid black;
}

.number {
  font-size: 20rem;
}

.suittop {
  font-size: 7rem;
  position: absolute;
  bottom: 15rem;
  right: 25rem;
}

.suitbot {
  font-size: 7rem;
  position: absolute;
  top: 15rem;
  left: 25rem;
}

.♦,
.♥ {
  color: red;
}
